.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

@keyframes expand-down {
  from {height: 0vh;}
  to {height: 85vh;}
}

.Content {
  animation-name: fade-in;
  animation-duration: 0.5s;
}

.Banner {
  width: 100%;
  background-color: rgb(42, 6, 53);
  color: whitesmoke;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;;
}

#banner-logout, #banner-right {
  display: inline-block;
  width: 33%;
  vertical-align: middle;
  margin-bottom: 0.75rem;
}

#banner-title {
  display: inline-block;
  width: 34%;
  font-size: 32px;
}

#logout-button {
  background-color: whitesmoke;
  border: none;
  margin-left: 0.5rem;
  color: rgb(42, 6, 53);
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  transition: all linear 0.1s;
}

#logout-button:hover {
  background-color: rgba(233, 233, 233, 0.6);
  color: whitesmoke;
  transition: all linear 0.1s;
}

.columns {
  display: flex;
    overflow: hidden;
    height: 90vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    animation-name: expand-down;
    animation-duration: 0.5s;
}

.Queue, .Completed, .CurrentlyPlaying {
  float: left;
  width: 33%;
  overflow: auto;
  height: auto;
  box-sizing: border-box;
  padding: 0.5em;
  position:'relative';
  margin-bottom: 7rem;
}

.Queue {
  margin-bottom: -2rem !important;
}

.CurrentlyPlaying {
  width: 34% !important;
}

.GameSearch {
  margin-bottom: 10rem;
}

.search-results-shadow {
  box-shadow: 0px 0px 8px 2px rgb(219, 219, 219);
}

#rawg-search {
  width: 75%;
  height: 1.5rem;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.user-info {
  float: left;
  width: 33%
}

.column-header {
  float: left;
  width: 33.3%
}

.number-of-items {
  font-size: medium;
  font-weight: 300;
  color: grey;
}

::placeholder {
  color: gray;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@keyframes expand {
  from {width: 45%;}
  to {width: 55%}
}

@keyframes contract {
  from {width: 55%;}
  to {width: 45%}
}

.content-tab-button-off {
  background-image: linear-gradient(rgb(67, 45, 73), rgb(42, 6, 53));
  width: 45%;
  height: 2.5rem;
  border: none;
  color: whitesmoke;
  font-size: larger;
  animation-name: contract;
  animation-duration: 0.5s;
}

.content-tab-button-off:hover {
  background-image: linear-gradient(rgb(67, 45, 73), rgb(59, 37, 65));
}

.content-tab-button-on {
  background-color: whitesmoke;
  width: 55%;
  height: 2.5rem;
  border: none;
  color: rgb(69, 37, 78);
  font-size: larger;
  animation-name: expand;
  animation-duration: 0.5s;
}

.NewsFeed {
    overflow: scroll;
    height: 85vh;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
    animation-name: expand-down;
    animation-duration: 0.5s;
}

.search-results {
  height: 30rem;
  overflow: scroll;
}

.loading{
  font-weight: 300;
  color: gray;
}
