.game-tile {
  padding: 1rem;
  background-color: rgb(25, 25, 192);
  margin-bottom: 1rem;
  color: rgb(223, 223, 223);
  width: 25%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 17px;
  box-shadow: 0px 0px 8px 3px rgb(207, 207, 207);
  animation-name: fade-in;
  animation-duration: 1s;
}

.game-tile:hover {
  background-color: rgb(74, 74, 208);
}

.title {
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.release-year {
  font-size: small;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.platform {
  font-weight: 400;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}