.game-tile {
  padding: 1rem;
  background-color: rgb(25, 25, 192);
  margin-bottom: 1rem;
  color: rgb(223, 223, 223);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 17px;
  box-shadow: 0px 0px 8px 3px rgb(207, 207, 207);
}

.tile-button {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  display: none;
}

.tile-button:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.game-tile:hover {
  background-image: linear-gradient(rgb(25, 25, 192), rgb(99, 99, 194));
  padding-bottom: 2rem;
  padding-top: 1rem;
  transition: all .2s linear;
}

.game-tile:hover .tile-button {
  display: inline-block;
}

.current-tile {
  padding: 1rem;
  background-color: goldenrod;
  margin-bottom: 1rem;
  color: rgb(223, 223, 223);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 17px;
  box-shadow: 0px 0px 8px 3px rgb(207, 207, 207);
}

.current-tile:hover {
  background-image: linear-gradient(goldenrod, rgb(167, 123, 14));
  padding-bottom: 2rem;
  padding-top: 1rem;
  transition: all .2s linear;
}

.current-tile:hover .tile-button {
  display: inline-block;
}

.completed-tile {
  padding: 1rem;
  background-color: rgb(45, 135, 22);
  margin-bottom: 1rem;
  color: rgb(223, 223, 223);
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  border: none;
  border-radius: 17px;
  box-shadow: 0px 0px 8px 3px rgb(207, 207, 207);
}

.completed-tile:hover {
  background-color: rgb(68, 155, 46);
  padding-bottom: 2rem;
  padding-top: 1rem;
  transition: all .2s linear;
}

.review-text-container {
  margin-top: 0.5rem;
  display: none;
}

.completed-tile:hover .review-text-container {
  display: inline-block;
}

.title {
  font-size: large;
  font-weight: 500;
  margin-bottom: 0.2rem;
}

.release-year {
  font-size: small;
  font-weight: 300;
  margin-bottom: 0.2rem;
}

.platform {
  font-weight: 400;
}

@keyframes fade-in {
  from {opacity: 0%;}
  to {opacity: 100%;}
}

.action-buttons {
  margin-top: 0.5rem;
}

.reason-badge {
  width: 32%;
  margin: auto;
  background-color: rgb(59, 115, 194);
  border: none;
  border-radius: 6px;
  padding: 1px;
  vertical-align: middle;
  margin-top: 0.5rem;
  font-size: small;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.3);
}

.completion-status-abandoned {
  width: 32%;
  margin: auto;
  background-color: rgb(194, 59, 59);
  border: none;
  border-radius: 6px;
  padding: 1px;
  vertical-align: middle;
  margin-top: 0.5rem;
  font-size: small;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.3);
}

.completion-status-completed {
  width: 32%;
  margin: auto;
  background-color: rgb(79, 182, 54);;
  border: none;
  border-radius: 6px;
  padding: 1px;
  vertical-align: middle;
  margin-top: 0.5rem;
  font-size: small;
  box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.3);
}

.review-box-hidden {
  display: none;
}

.review-box-display {
  display: inline-block;
}

.review-textarea {
  resize: vertical;
  border: 1px grey;
  border-radius: 2px;
}
