.NewGameForm {
background-color: white;
padding: 5px;
padding-top: 1.5rem;
padding-bottom: 2rem;
box-shadow: 0px 0px 8px 0.5px rgba(0, 0, 0, 0.02);
width: 90%;
margin: auto;
margin-top: 1rem;
}

.platform-buttons {
  margin-top: 1rem;
}

.play-reason-buttons {
  margin-top: 1rem;
}

.reason-button-off, .platform-button-off {
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 4px;
  margin-right: 2px;
}

.reason-button-off:hover, .platform-button-off:hover {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 4px;
  margin-right: 2px;
}

.reason-button-on {
  background-color: rgb(151, 183, 231);
  border: none;
  border-radius: 4px;
  margin-right: 2px;
}

.platform-button-on {
  background-color: rgb(9, 24, 47);
  color: whitesmoke;
  border: none;
  border-radius: 4px;
  margin-right: 2px;
}

.form-title {
  font-weight: 300;
}

.form-date {
  font-weight: 200;
  font-size: small;
}

.add-game-button {
  font-weight: 200;
  font-size: small;
  margin-top: 1rem;
  background-color: rgb(76, 22, 135);
  color: whitesmoke;
  border: none;
  padding: 0.5rem;
  width: 50%;
}

.add-game-button:hover {
  background-color: rgb(109, 54, 169);
}

.form-prompt {
  font-size: small;
  margin-bottom: 0.5rem;
  color: rgb(93, 93, 93);
}
